@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
.App {
  text-align: center;
  color: #0f4583;
  font-family: 'Open Sans';
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 95vh;
}
.doug {
  position: absolute;
  bottom: -38px;
  right: 7px;
  color: #AFAD90;
}
.doug:hover {
  text-decoration: none;
  color: #0f4583;
}

.App-header {
  height: 25vh;
  /*padding: 20px 0;*/
  margin: 20px 10px;
  color: white;
  background: transparent;
  background-image: url('./assets/banner.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.App-header img {
  height: 25vh;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

form {
  min-width: 350px;
}

.timezone-picker {
  width: 100%;
}
.timezone-picker-textfield {
  background-color: white;
}
.form-container {
  margin: 20px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0f4583 url('./fwc_darkbluebg.png') repeat;
  padding: 20px 0;
}

.form-container a {
  color: white;
}
.form-container h3 {
  color: white;
  font-family: 'Dusha V5';
}
.form-container label {
  color: #EDEDED;
}

.form-container a:hover {
  color: #B40B22;
  text-decoration: none;
}

.form-container small {
  color: #EC0B2B;
}

.red-button {
  background-color: #B40B22;
  color: white;
  margin: 10px 0;
}

.blue-button {
  background-color: #0f4583;
  color: white;
}
.form-buttons {
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width : 480px) {
  .App p {
    font-size: 0.9em;
  }
}
