@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
.App {
  text-align: center;
  color: #0f4583;
  font-family: 'Open Sans';
}

.App-header {
  background-color: transparent;
  height: 25vh;
  padding: 20px;
  color: white;
}
.App-header img {
  height: 25vh;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form-container {
  margin: 20px 0 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0f4583 url('./fwc_darkbluebg.png') repeat;
  padding: 20px 0;
}

.form-container a {
  color: white;
}
.form-container h3 {
  color: white;
}
.form-container label {
  color: white;
}

.form-container a:hover {
  color: #B40B22;
  text-decoration: none;
}

.red-button {
  background-color: #B40B22;
  color: white;
}

.blue-button {
  background-color: #0f4583;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width : 480px) {
  .App p {
    font-size: 0.9em;
  }
}
