.group-header {
  background: #0f4583 url('./fwc_darkbluebg.png') repeat;
  color: white;
  padding: 15px;
  margin: 0 -20px;
  font-family: 'Dusha V10';
}
.group-header h3 {
  margin: 0;
}
.group-header small {
  color: lightgray;
}

@media only screen and (max-width : 480px) {
  .group-header {
    padding: 10px;
  }
  .group-header h3 {
    font-size: 0.9em;
  }
}
