.group-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EAE3BA;
  border: 1px solid #0f4583;
}

.group-tab {
  padding: 5px;
  flex: 1;
  border-right: 1px solid #0f4583;
}

.group-tab h6 {
  margin: 0;
}
