.league-container th {
  padding: 5px;
  border-top: none;
}

.league-container table {
  border: none;
}

.league-header {
  background: #0f4583 url('./fwc_darkbluebg.png') repeat;
  color: white;
  padding: 10px;
  /*margin: 0 -20px;*/
  font-family: 'Dusha V10';
}
.league-header h3 {
  margin: 0;
}
.league-header small {
  color: lightgray;
}

.user-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin: 0 -20px;*/
}

.user-sub {
  background-color: #B40B22;
  color: white;
  padding: 5px 0;
  font-family: 'Dusha V10';
}
.user-sub-item {
  flex: 1;
}

.user-sub p {
  margin: 0;
}
.user-tile-item {
  padding: 10px;
  flex: 1;
}

.user-name {

}
.user-overall {

}
.table thead th {
  border: none;
}

@media only screen and (max-width : 480px) {
  .table td {
    padding: 0.50rem;
  }
  .league-header h3 {
    font-size: 1.30rem;
  }
  .table thead th {
    font-size: 0.9rem;
  }
}
