.knockout-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px 5px;
}

.knockout-tile p {
  margin: 0;
}

.knockout-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.final-three-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.finals {
  margin: 0 35px;
}



.kickoff-tile {
  .match-info strong {
    font-family: 'Dusha V10';
    font-size: 1em;
  }
}

.knockout-tile {
  .team-flag {
    width: 100px;
  }
}

.finals {
  background-color: #E1E5E8;
  padding: 0 5px;
}

.stages-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Dusha V10";
  font-size: 1rem;
}
.stage-btn {
  margin-right: 10px;
  margin-bottom: 4px;
}
.stage-btn:hover {
  margin-bottom: 0;
  border-bottom: 4px #EAE3BA solid;
  transform: scale(1.03);
}

.groups-btn{
}

.stage-active {
   margin-bottom: 0;
  border-bottom: 4px #B40B22 solid;
}

.knockout-btn{
}

.sortby-btn {
}

.groups-btn:hover {
  cursor: pointer;
}

.knockout-btn:hover {
  cursor: pointer;
}
.sortby-btn:hover {
  cursor: pointer;
}


@media only screen and (max-width : 1130px) {
  .knockout-tile {
    font-size: 0.9rem;
    .team-flag {
      width: 70px;
    }
  }
}

@media only screen and (max-width : 850px) {
  .knockout-tile {
    margin: 20px 5px;
    font-size: 0.8rem;
    .team-flag {
      width: 55px;
    }
  }
  .stages-container {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width : 680px) {
  .knockout-tile {
    font-size: 0.7rem;
    .team-flag {
      width: 50px;
    }
  }
}

@media only screen and (max-width : 600px) {
  .knockout-tile {
    font-size: 0.8rem;
    .team-flag {
      width: 40px;
    }
  }
}

@media only screen and (max-width : 550px) {
  .knockout-tile {
    .team-flag {
      width: 35px;
    }
  }
}


@media only screen and (max-width : 500px) {
  .knockout-tile {
    margin: 15px 5px;
    .flag-group {
      flex-direction: column;
    }
    .flag-box {
      padding: 5px 5px;
      margin-top: 5px;
    }
  }
}


@media only screen and (max-width : 320px) {

}








